<!DOCTYPE html>
<html>

<head>
    <title> Video game console rental</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/script/location.js"></script>
</head>

<body>
    <div class="navbar">
        <a href="/">
            <h1>Video game console rental</h1>
        </a>
        <a href="/providers">View Providers</a>
        <a href="/services">View Services</a>
        <a href="/profile">Profile</a>

        <div class="city-dropdown">
            <label for="cityDropdown">Ваш город:</label>
            <select id="cityDropdown">
                <option value="">Определение города...</option>
                <option>Алматы</option>
                <option>Астана</option>
                <option>Шымкент</option>
                <option>Караганда</option>
                <option>Актобе</option>
                <option>Костанай</option>
                <option>Тараз</option>
                <option>Павлодар</option>
                <option>Уральск</option>
                <option>Семей</option>
            </select>
        </div>
    </div>


    <form id="loginForm">
        <input type="text" name="login" placeholder="Login" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
        <a href="register">нет аккаунта</a>
    </form>
    <p id="errorMessage" style="color: red;"></p>
    
    <script src="/script/auth.js"></script>
</body>

</html>